<!doctype html>
<html lang="en" class="full-height">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="/gen/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="/gen/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="/gen/css/style.css" rel="stylesheet">
</head>

<style>
    body {
        background-color: black;
    }
    
    video {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        transform: translateX(-50%) translateY(-50%);
        background-size: cover;
        transition: 1s opacity;
    }
    
    .login-form {
        background: white;
        color: black;
        padding: 2rem;
        width: 33%;
        margin: 2rem;
        margin-top: 50px;
        float: right;
        font-size: 1.2rem;
    }
    
    form {
        background-color: white;
        border-radius: 1rem;
        opacity: 0.8;
        padding: 2rem;
        margin-top: 50px;
        margin-right: 50px;
        float: right;
    }
</style>

<body>
    <video loop muted autoplay class="fullscreen-bg__video">
            <source src="gen/vid/Syner G Package.mp4" type="video/webm">
        </video>
    <div id="login-form">
        <!-- Login form -->
        <% if (message) { %>
            <p id="warning-message">
                <%= message %>
            </p>
            <% } %>
                <form style="width: 22rem;" action="/login" method="POST">
                    <p class="h5 text-center mb-4">Sign in</p>

                    <div class="md-form">
                        <i class="fa fa-envelope prefix grey-text"></i>
                        <input type="text" id="username" name="username" class="form-control" placeholder="Your Email" maxlength="30" mdbActive>
                        <label for="defaultForm-email"></label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-lock prefix grey-text"></i>
                        <input type="password" id="password" name="password" class="form-control" placeholder="Your Password" maxlength="50" mdbActive>
                        <label for="defaultForm-pass"></label>
                    </div>

                    <div class="text-center">
                        <button class="btn btn-default waves-light" mdbRippleRadius>Login</button>
                    </div>
                </form>
                <!-- Login form -->
    </div>
</body>

</html>